.table {
	--table-head-cell-bg: #fafafa;
	--table-body-cell-bg: #fff;
	--table-font-color: rgba(0, 0, 0, 0.88);
	--table-font-family: 'Segoe UI';
	--table-row-height: 24px;
	--table-cell-padding: 8px;
	--table-cell-border-width: 1px;
	--table-cell-border-color: #f0f0f0;

	width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: var(--table-font-family);
	color: var(--table-font-color);
}
