.wrapper {
    padding: 12px 24px 20px 24px;
    width: 600px;

    .radio-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .radio {
        display: inline-flex;
        align-items: center;
    }

    .radio + .radio {
        margin-top: 8px;
    }

    .input-number {
        margin: 0 4px;
    }

    .input-textarea {
        margin-top: 4px;
    }

    .notice-text {
        color: #8c8c8c;
    }
}
