.custom-wrapper {
    position: relative;

    .draggable {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        cursor: move;
        position: absolute;
        pointer-events: initial;
        height: calc(20px + 24px + 8px);
    }
}
