.sticky-left {
	position: sticky;
	z-index: 5;

	&.pinged {
		border-right-color: transparent;
	}
}

.sticky-right {
	position: sticky;
	z-index: 5;

	&.pinged {
		border-left-color: transparent;
	}
}
