.sticky-left {
	position: sticky;
	z-index: 5;

	&.last-pinged {
		border-right-color: transparent;

		&::after {
			content: '';
			z-index: 99;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 100%;
			width: 30px;
			box-shadow: rgba(17, 17, 17, 0.13) 10px 0px 8px -8px inset;
		}
	}
}

.sticky-right {
	position: sticky;
	z-index: 5;

	&.last-pinged {
		border-left-color: transparent;

		&::before {
			content: '';
			z-index: 99;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100%;
			width: 30px;
			box-shadow: rgba(17, 17, 17, 0.13) -10px 0px 8px -8px inset;
		}
	}
}
