.sticky-left {
	position: sticky;
	z-index: 5;

	&.last-pinged {
		border-right-color: transparent;

		&::after {
			content: '';
			top: 0;
			width: 30px;
			left: 100%;
			bottom: -1px;
			position: absolute;
			pointer-events: none;
			transition: box-shadow 0.2s;
			box-shadow: var(--table-sticky-box-shadow-color) 10px 0px 8px -8px inset;
		}
	}
}

.sticky-right {
	position: sticky;
	z-index: 5;

	&.last-pinged {
		border-left-color: transparent;

		&::before {
			content: '';
			top: 0;
			width: 30px;
			right: 100%;
			bottom: -1px;
			position: absolute;
			pointer-events: none;
			transition: box-shadow 0.2s;
			box-shadow: var(--table-sticky-box-shadow-color) -10px 0px 8px -8px inset;
		}
	}
}
