.wrapper {
    width: 300px;
    background-color: var(--theme-bg);
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-overlay-box-shadow);

    .input {
        padding: 8px;
        position: relative;
    }

    .submit-box {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--theme-second-border);

        .reset {
            cursor: pointer;
            color: var(--theme-second-foreground);
        }
    }
}
