.notification {
    position: relative;

    :global {
        .ant-notification-notice-message {
            margin-bottom: 0 !important;
            word-break: break-word;
        }
        .ant-notification-notice-description {
            display: none !important;
        }
    }
}
