{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"], // 让ESLint继承 @typescript-eslint/recommended 定义的规则
    "parser": "@typescript-eslint/parser", //ESLint的解析器换成 @typescript-eslint/parser 用于解析ts文件
    "parserOptions": {
        "ecmaVersion": 12
    },
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        // "prettier/prettier": "error",
        "@typescript-eslint/no-explicit-any": "off"
    }
}
