registry = "http://192.168.70.24:8081/repository/npm-group"
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = *prettier*
public-hoist-pattern[] = *stylelint*
public-hoist-pattern[] = *babel*
public-hoist-pattern[] = *types*