{
    "singleQuote": true,
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "none",
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 150
}
