.body-cell-placeholder {
	overflow: hidden;
	position: relative;
	transition: background-color 0.2s;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: var(--table-cell-border-width) solid #a0d911;
	}

	&.bordered::after {
		// border-left: var(--table-cell-border-width) solid #a0d911;
		border-right: var(--table-cell-border-width) solid #a0d911;
	}
}
