.body-cell-placeholder {
	overflow: hidden;
	position: relative;
	transition: background-color 0.2s;
	border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);

	&.bordered::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-right: var(--table-cell-border-width) solid var(--table-cell-border-color);
	}
}
