.light {
    --table-font-size: 14px;

    --table-bg: #fff;
    --table-border: #d9d9d9;
    --table-head-bg: #f5f8ff;
    --table-border-radius: 2px;
    --table-primary: #1677ff;
    --table-primary-foreground: #fff;
    --table-row-hover-bg: #e6f4ff;
    --table-row-selected-hover-bg: #bae0ff;
    --table-foreground: #262626;
    --table-second-foreground: #8c8c8c;

    --table-disabled-bg: #eceef0;
    --table-disabled-foreground: #b1b2b4;
    --table-resize-hover: rgba(0, 0, 0, 0.15);
    --table-resize-active: rgba(0, 0, 0, 0.25);
    --table-ping-shadow: rgba(17, 17, 17, 0.13);

    --table-scrollbar-width: 7px;
    --table-scrollbar-bg: rgba(0, 0, 0, 0.07); /* 滚动条背景 */
    --table-scrollbar-thumb: rgba(0, 0, 0, 0.35); /* 滚动条 */
    --table-scrollbar-thumb-hover: rgba(0, 0, 0, 0.55); /* 滚动条hover */

    --table-placeholder-foreground: #d1d1d1;
    --table-empty-fill: #f5f5f5;
    --table-empty-stroke: #d9d9d9;
    --table-empty-path-fill: #fafafa;

    --table-loading-bg: rgba(255, 255, 255, 0.4);
}

.dark {
    --table-font-size: 14px;

    --table-bg: #141414;
    --table-border: #424242;
    --table-head-bg: #1b2642;
    --table-border-radius: 2px;
    --table-primary: #1677ff;
    --table-primary-foreground: #fff;
    --table-row-hover-bg: #333;
    --table-row-selected-hover-bg: #555;
    --table-foreground: rgba(255, 255, 255, 0.9);
    --table-second-foreground: #8c8c8c;

    --table-disabled-bg: #666;
    --table-disabled-foreground: rgba(255, 255, 255, 0.25);
    --table-resize-hover: rgba(255, 255, 255, 0.2);
    --table-resize-active: rgba(255, 255, 255, 0.3);
    --table-ping-shadow: rgba(125, 125, 125, 0.5);

    --table-scrollbar-width: 7px;
    --table-scrollbar-bg: rgba(255, 255, 255, 0.07); /* 滚动条背景 */
    --table-scrollbar-thumb: rgba(255, 255, 255, 0.35); /* 滚动条 */
    --table-scrollbar-thumb-hover: rgba(255, 255, 255, 0.55); /* 滚动条hover */

    --table-placeholder-foreground: #8c8c8c;
    --table-empty-fill: rgba(255, 255, 255, 0.1);
    --table-empty-stroke: #6f6f6f;
    --table-empty-path-fill: #6f6f6f;

    --table-loading-bg: rgba(20, 20, 20, 0.4);
}
