.head-cell {
	position: relative;
	border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
	transition: background-color 0.2s;

	&.bordered {
		border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);

		&:first-child {
			border-left: 0;
		}
	}
}
