.light {
	--theme-font-size: 14px;
	--theme-default-height: 32px;

	--theme-primary: #4096ff;
	--theme-primary-lucency: #e3f3ff;
	--theme-primary-hover: #1677ff;

	--theme-danger: #ff4d4f;
	--theme-danger-hover: #f5222d;

	// bg
	--theme-bg: #fff;
	--theme-second-bg: #f0f0f0;
	--theme-hover-bg: rgba(0, 0, 0, 0.05);
	--theme-active-bg: #e6f4ff;
	--theme-disabled-bg: rgba(0, 0, 0, 0.05);

	// border
	--theme-border-radius: 4px;
	--theme-border: #d9d9d9;
	--theme-second-border: #f0f0f0;
	--theme-disabled-border: rgba(0, 0, 0, 0.05);

	// foreground
	--theme-foreground: #1f1f1f;
	--theme-second-foreground: #8c8c8c;
	--theme-primary-foreground: #fff;
	--theme-danger-foreground: #fff;
	--theme-disabled-foreground: rgba(0, 0, 0, 0.3);
	--theme-placeholder-foreground: #bfbfbf;

	// type-color
	--theme-info: #1677ff;
	--theme-error: #f5222d;
	--theme-warning: #faad14;
	--theme-success: #52c41a;

	// box-shadow
	--theme-overlay-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

	// scrollbar
	--theme-scrollbar-width: 8px;
	--theme-scrollbar-border-radius: 10px;
	--theme-scrollbar-bg: rgba(0, 0, 0, 0.05); /* 滚动条背景 */
	--theme-scrollbar-thumb: rgba(0, 0, 0, 0.25); /* 滚动条 */
	--theme-scrollbar-thumb-hover: rgba(0, 0, 0, 0.35); /* 滚动条hover */

	// empty
	--theme-empty-fill: #f5f5f5;
	--theme-empty-stroke: #d9d9d9;
	--theme-empty-path-fill: #fafafa;

	// table
	--theme-table-head-bg: #f5f8ff;
	--theme-table-head-hover: rgba(0, 0, 0, 0.04);
	--theme-table-row-hover-bg: #e6f4ff;
	--theme-table-row-selected-hover-bg: #bae0ff;
	--theme-table-resize-hover: rgba(0, 0, 0, 0.15);
	--theme-table-resize-active: rgba(0, 0, 0, 0.25);
	--theme-table-ping-shadow: rgba(17, 17, 17, 0.13);
	--theme-table-ping-shadow-left-x: 10px;
	--theme-table-ping-shadow-right-x: -10px;
	--theme-table-loading-bg: rgba(255, 255, 255, 0.4);

	// custom
	--theme-link: #1677ff;
	--theme-red: #f5222d;
	--theme-gray: #8c8c8c;
	--theme-green: #52c41a;
}
