.body-cell {
	position: relative;
	transition: background-color 0.2s;
	border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);

	&.bordered {
		border-right: var(--table-cell-border-width) solid var(--table-cell-border-color);

		&:first-child {
			border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);
		}
	}
}
