.body-cell {
	position: relative;
	box-sizing: border-box;
	transition: background-color 0.2s;
	border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);

	&.bordered {
		border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);

		&.first-col {
			border-left: 0;
		}

		&.last-col {
			border-right: var(--table-cell-border-width) solid var(--table-cell-border-color);
		}
	}
}
