.table-sticky {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	user-select: none;
	pointer-events: none;

	.sticky-left {
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;

		&::after {
			content: '';
			top: 0;
			width: 30px;
			left: 100%;
			bottom: -1px;
			position: absolute;
			pointer-events: none;
			transition: box-shadow 0.2s;
			box-shadow: var(--table-sticky-box-shadow-color) 10px 0px 8px -8px inset;
		}
	}

	.sticky-right {
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		position: absolute;

		&::before {
			content: '';
			top: 0;
			width: 30px;
			right: 100%;
			bottom: -1px;
			position: absolute;
			pointer-events: none;
			transition: box-shadow 0.2s;
			box-shadow: var(--table-sticky-box-shadow-color) -10px 0px 8px -8px inset;
		}
	}
}
