.table-sticky {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	user-select: none;
	pointer-events: none;

	&.sticky-left {
		&::after {
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			width: 30px;
			position: absolute;
			pointer-events: none;
			transition: box-shadow 0.2s;
			box-shadow: var(--table-sticky-box-shadow-color) 10px 0px 8px -8px inset;
		}
	}

	&.sticky-right {
		&::before {
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			width: 30px;
			position: absolute;
			pointer-events: none;
			transition: box-shadow 0.2s;
			box-shadow: var(--table-sticky-box-shadow-color) -10px 0px 8px -8px inset;
		}
	}
}
