.filter-btn {
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-font-color);
    background-color: var(--primary-color);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.popup-body {
    background-color: var(--card-down-bg-color) !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    max-height: 60vh;
    overflow: auto;
}
