.resize-head-cell {
    .resizable-handle {
        position: absolute;
        cursor: ew-resize;
        height: 100%;
        width: 5px;
        z-index: 1;
        bottom: 0;
        right: 0;
    }

    .resizable-handle:hover {
        background-color: var(--table-resize-hover);
    }

    &.active .resizable-handle {
        background-color: var(--table-resize-active);
    }

    &.active::after,
    &.no-active:hover::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        pointer-events: none;
        background-color: var(--table-head-hover);
    }
}
