.filter {
    font-size: 12px;
    cursor: pointer;
    padding: 5px 3px;
    color: var(--theme-placeholder-foreground);
    border-radius: var(--theme-border-radius);
    transition:
        color 0.2s,
        background-color 0.2s;

    &:hover,
    &.visible {
        color: var(--theme-foreground);
        background-color: var(--theme-hover-bg);
    }

    &.active {
        color: var(--theme-primary);
    }
}
