.filter {
    font-size: 12px;
    cursor: pointer;
    padding: 5px 3px;
    margin-right: 6px;
    color: var(--theme-second-foreground);
    border-radius: var(--theme-border-radius);
    transition:
        color 0.2s,
        background-color 0.2s;

    &:hover {
        color: var(--theme-foreground);
        background-color: var(--theme-hover-bg);
    }

    &.active {
        color: var(--theme-primary);
    }
}
