.body {
	z-index: 1;
	flex-shrink: 1;
	overflow: auto;
	position: relative;
	color: var(--table-body-font-color);

	.body-inner {
		display: grid;
		min-width: 100%;
		position: relative;
		align-content: start;
		width: max-content;
	}
}
