.body {
	display: grid;
	flex-shrink: 1;
	overflow: auto;
	position: relative;

	.body-row {
		display: contents;

		.body-cell-wrapper {
			position: relative;
			box-sizing: border-box;
			background-color: var(--table-body-cell-bg);
			border: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-top: 0;

			.body-cell {
				min-height: var(--table-row-height);
				line-height: var(--table-row-height);
				padding: var(--table-cell-padding);
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.body-cell-placeholder {
			background-color: var(--table-body-cell-bg);
			border: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}
	}
}
