.arrow {
	height: 100%;
	display: flex;
	flex-shrink: 0;
	cursor: pointer;
	transition: transform 0.15s;
	color: var(--theme-second-foreground);

	&.visible {
		transform: rotate(90deg);
	}
}

.empty-arrow {
	width: 1em;
	height: 1em;
	flex-shrink: 0;
}
