.title {
    padding: 16px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    flex-shrink: 0;

    .inner {
        flex-shrink: 0;
        padding: 0 10px;
        background-color: #fff;
    }

    &::after,
    &::before {
        content: '';
        height: 1px;
        background-color: #ccc;
    }

    &::before {
        width: 20px;
        flex-shrink: 0;
    }
    &::after {
        width: 0;
        flex-grow: 1;
    }
}

.wrapper {
    height: 100vh;
    width: 100vw;
    min-height: 800px;
    display: flex;
    flex-direction: column;

    .top {
        height: 56px;
        flex-shrink: 0;
        border-bottom: 1px solid #ccc;
    }

    .content {
        height: 0;
        width: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            flex-shrink: 0;
            width: 300px;
            height: 100%;

            .box {
                .content {
                    padding: 0 16px;
                    row-gap: 16px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    box-sizing: border-box;
                    justify-content: space-between;

                    .item {
                        width: calc(1 / 3 * (100% - 32px));
                        padding-bottom: calc(1 / 3 * (100% - 32px));
                        background-color: #ccc;
                    }
                }
            }
        }

        .center {
            width: 0;
            min-width: 500px;
            height: 100%;
            flex-grow: 1;
            position: relative;
            background-color: #cbd3d8;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 999;
                box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) inset;
                pointer-events: none;
            }

            // --offsetX: 0px;
            // --offsetY: 0px;
            // --size: 20px;
            // --color: #ccc;
            // --color2: #ddd;
            // background-image: linear-gradient(45deg, var(--color) 25%, var(--color2) 0, var(--color2) 75%, var(--color) 0), linear-gradient(45deg, var(--color) 25%, var(--color2) 0, var(--color2) 75%, var(--color) 0);
            // background-position: var(--offsetX) var(--offsetY), calc(var(--size) + var(--offsetX)) calc(var(--size) + var(--offsetY));
            // background-size: calc(var(--size) * 2) calc(var(--size) * 2);
        }

        .right {
            flex-shrink: 0;
            width: 300px;
            height: 100%;

            .z-index {
                height: 500px;
                background-color: #fff;
                display: flex;
                flex-direction: column;

                .content {
                    height: 0;
                    flex-grow: 1;
                }
            }
        }
    }
}
