.head-cell-placeholder {
	background-color: var(--table-head-cell-bg);
	border-top: var(--table-cell-border-width) solid var(--table-cell-border-color);
	border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);

	&.bordered {
		border-right: var(--table-cell-border-width) solid var(--table-cell-border-color);
	}
}
