.head-cell-placeholder {
	right: 0;
	z-index: 99;
	position: sticky;
	background-color: var(--table-head-cell-bg);
	border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);

	&.bordered {
		border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);
	}
}
