.circle-wrapper {
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--theme-primary);

    animation-duration: 1.2s;
    animation-name: turn-animate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes turn-animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
