.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        z-index: 2;

        flex-shrink: 0;
        font-size: 18px;
        position: relative;
        color: var(--m-primary-font-color);
        background-color: var(--m-primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            width: 50px;
            flex-shrink: 0;
            display: flex;
            align-items: center;

            .icon {
                padding: 12px;
            }
        }

        .middle {
            padding: 12px 0;
            width: 0;
            flex-grow: 1;
            text-align: center;
        }

        .right {
            width: 50px;
            flex-shrink: 0;
        }
    }

    .content {
        z-index: 1;
        min-height: 0;
        height: 0;
        flex-grow: 1;
        position: relative;
    }
}
