.light-theme {
    --theme-font-size: 14px;

    --theme-bg: #fff;
    --theme-border: #d9d9d9;
    --theme-border-radius: 2px;
    --theme-primary: #1677ff;
    --theme-primary-foreground: #fff;
    --theme-foreground: #262626;
    --theme-second-foreground: #8c8c8c;

    --theme-disabled-bg: #eceef0;
    --theme-disabled-foreground: #b1b2b4;

    --theme-scrollbar-width: 7px;
    --theme-scrollbar-bg: rgba(0, 0, 0, 0.07); /* 滚动条背景 */
    --theme-scrollbar-thumb: rgba(0, 0, 0, 0.35); /* 滚动条 */
    --theme-scrollbar-thumb-hover: rgba(0, 0, 0, 0.55); /* 滚动条hover */

    --theme-placeholder-foreground: #d1d1d1;
    --theme-empty-fill: #f5f5f5;
    --theme-empty-stroke: #d9d9d9;
    --theme-empty-path-fill: #fafafa;
}

.dark-theme {
    --theme-font-size: 14px;

    --theme-bg: #141414;
    --theme-border: #424242;
    --theme-head-bg: #1b2642;
    --theme-border-radius: 2px;
    --theme-primary: #1677ff;
    --theme-primary-foreground: #fff;
    --theme-foreground: rgba(255, 255, 255, 0.9);
    --theme-second-foreground: #8c8c8c;

    --theme-disabled-bg: #666;
    --theme-disabled-foreground: rgba(255, 255, 255, 0.25);

    --theme-scrollbar-width: 7px;
    --theme-scrollbar-bg: rgba(255, 255, 255, 0.07); /* 滚动条背景 */
    --theme-scrollbar-thumb: rgba(255, 255, 255, 0.35); /* 滚动条 */
    --theme-scrollbar-thumb-hover: rgba(255, 255, 255, 0.55); /* 滚动条hover */

    --theme-placeholder-foreground: #8c8c8c;
    --theme-empty-fill: rgba(255, 255, 255, 0.1);
    --theme-empty-stroke: #6f6f6f;
    --theme-empty-path-fill: #6f6f6f;
}
