.head-cell {
	width: 100%;
	height: 100%;
	outline: none;
	overflow: hidden;
	position: relative;

	.head-cell-inner {
		width: 100%;
		height: 100%;
		outline: none;
		position: relative;
		box-sizing: border-box;
		padding: var(--table-cell-padding);
		border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
		display: flex;
		align-items: center;

		&.bordered {
			border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);

			&.first-col {
				border-left-width: 0;
			}
		}

		.ellipsis-wrapper {
			width: 100%;
			min-width: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
