.head {
	z-index: 1;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	font-weight: 600;
	color: var(--table-head-font-color);

	// === hidden scroll bar ===
	scrollbar-width: none !important;
	-ms-overflow-style: none !important;
	&::-webkit-scrollbar {
		display: none !important;
	}
	// === hidden scroll bar ===

	.head-inner {
		display: grid;
		min-width: 100%;
		position: relative;
		align-content: start;
		width: max-content;
	}
}
