.empty-wrapper {
    left: 0;
    padding: 24px 0;
    position: sticky;

    .space-occupying {
        height: 24px;
        position: relative;
    }

    .empty {
        padding: 0 0 24px 0;
    }
}
