.head-wrapper {
	width: 100%;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;

	.head {
		width: 100%;
		overflow: hidden;
		position: relative;

		// 对Safari单独处理
		&.safari {
			overflow: auto !important;
			&::-webkit-scrollbar {
				display: none !important;
			}
		}

		.virtual-head {
			display: grid;
			min-width: 100%;
			position: relative;
			align-content: start;
			transform: translate3d(0, 0, 0);
			grid-auto-flow: dense;

			.head-group-row .head-cell {
				border-bottom: none !important;
			}

			.head-row,
			.head-group-row {
				display: contents;

				.head-row-measure {
					z-index: -1;
					position: relative;
					pointer-events: none;
				}

				.head-cell-placeholder {
					right: 0;
					z-index: 1;
					position: sticky;
					background-color: var(--theme-table-head-bg);
					border-bottom: 1px solid var(--theme-second-border);
				}

				.head-cell {
					z-index: 1;
					position: relative;
					background-color: var(--theme-table-head-bg);
					border-bottom: 1px solid var(--theme-second-border);

					.head-cell-inner {
						height: 100%;
						padding: 0 8px;
						display: flex;
						align-items: center;

						.head-cell-str {
							width: 0;
							flex-grow: 1;
							font-weight: 600;
							overflow: hidden;
							position: relative;
							white-space: nowrap;
							text-overflow: ellipsis;
						}

						.head-cell-block {
							width: 0;
							flex-grow: 1;
							font-size: 0;
							font-weight: 600;
							overflow: hidden;
							position: relative;
							white-space: nowrap;
							text-overflow: ellipsis;

							& > * {
								font-size: var(--theme-font-size);
							}
						}

						.head-cell-filter {
							flex-shrink: 0;
							position: relative;
						}
					}
				}
			}
		}
	}
}
