.measure {
    height: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    visibility: hidden;
    position: relative;

    .measure-item {
        flex-shrink: 0;
        position: relative;
    }
}
