.wrapper {
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;

    .item {
        padding: 12px;
        display: flex;
        user-select: none;
        align-items: center;

        &.can-click:active {
            background-color: var(--m-bg-hover-color);
        }

        .label {
            width: 0;
            min-width: 0;
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .state {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }

    .empty {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        tr {
            td {
                padding: 2px 6px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border: 1px solid var(--m-border-color);
            }
        }
    }
}
