.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    gap: 12px;

    button {
        flex-shrink: 1;
        width: 50%;
    }
}

.key {
    width: 72px;
}
