@import './index.theme.module.less';

.table {
	.table-theme-light();

	width: 100%;
	max-height: 100%;
	display: flex;
	overflow: hidden;
	position: relative;
	flex-direction: column;
	box-sizing: border-box;
	background-color: var(--table-bg);
	font-size: var(--table-font-size);
	font-family: var(--table-font-family);

	&.bordered {
		border-radius: var(--table-border-radius);
		border-top: var(--table-cell-border-width) solid var(--table-cell-border-color);
		border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);
		border-right: var(--table-cell-border-width) solid var(--table-cell-border-color);
		border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
	}

	&.no-bordered-and-no-h-scrollbar {
		border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
	}

	.table-body-wrapper {
		z-index: 1;
		width: 100%;
		min-height: 0;
		flex-shrink: 1;
		display: flex;
		position: relative;
	}
}
