:root {
    /* 主题色 */
    --m-primary-color: #4096ff; /* 主题色 */
    /* 字体大小 */
    --m-font-size: 14px; /* 字体大小*/
    /* 背景 */
    --m-bg-color: #fff; /* 背景色*/
    --m-bg-hover-color: #eee; /* 背景色Hover*/
    --m-card-bg-color: #fff; /* Card模式-块的背景颜色*/
    --m-card-bg-hover-color: #eee; /* Card模式-块的背景颜色Hover*/
    --m-card-down-bg-color: #f3f4f5; /* Card模式-底层背景色*/
    /* 字体颜色 */
    --m-font-color: #262626; /* 字体颜色*/
    --m-secondary-font-color: #666; /* 次级字体颜色*/
    --m-notice-font-color: #999; /* 字体提示颜色*/
    --m-primary-font-color: #fff; /*字体颜色（主题色背景）*/
    /* 阴影 */
    --m-float-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15); /* 悬浮框阴影*/
    --m-primary-float-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25); /* 悬浮框阴影（主题色背景）*/
    --m-head-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); /* 头部阴影/底部阴影*/
    --m-primary-head-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.45); /* 头部阴影/底部阴影（主题色背景）*/
    /* 边框 */
    --m-border-color: #eee; /* 边框色*/
    --m-card-border-color: #e0e0e0; /* Card模式-边框色*/

    font-weight: 400;
    line-height: 1.5;
    font-synthesis: none;
    color-scheme: light dark;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root:root {
    --adm-color-primary: #4096ff;
}

html,
body {
    font-size: var(--m-font-size);
    background-color: #595959;
    color: var(--m-font-color);
    touch-action: manipulation;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
    background-color: var(--m-bg-color);
}

/* 横屏 */
/* @media (orientation: landscape) {
    body {
        width: calc(100vh - env(safe-area-inset-top));
        height: 100vw;
        transform-origin: 0 0;
        transform: rotate(-90deg) translateX(-100vh);
    }
} */

/* 竖屏 */
@media (orientation: portrait) {
    /* 竖屏转横屏 */
    body.v-h {
        height: 100vw;
        width: 100vh;
        transform-origin: 0 0;
        transform: rotate(90deg) translateY(-100vw);
    }

    body.v-h .popup {
        max-height: 100vw;
    }
}
