:global {
    .light-theme {
        --w-scrollbar-bg: #e5e5e5; /* 滚动条背景 */
        --w-scrollbar-thumb: #c1c1c1; /* 滚动条 */
        --w-scrollbar-thumb-hover: #aaa; /* 滚动条hover */

        --w-background: #fff; /* 背景色 table-row 斑马线二级 */
        --w-second-background: #fafafa; /* 二级背景色 table-row 斑马线二级 */
        --w-third-background: #efefef; /* 三级背景色 */
        --w-table-header-background: #f0f5ff; /* table-header 背景色 */

        --w-foreground: #0f172a; /* 字体色 */
        --w-second-foreground: #8c8c8c; /* 二要字体色 */

        --w-primary: #1677ff; /* 主题色 */
        --w-primary-foreground: #fff; /* 主题色背景字体色 */

        --w-border: #e0e0e0; /* 边框色 */
        --w-border-radius: 2px; /* 圆角 */

        --w-error: #f5222d;
        --w-warning: #faad14;
        --w-success: #52c41a;
        --w-info: #1890ff;
    }

    .dark-theme {
        --w-scrollbar-bg: #444; /* 滚动条背景 */
        --w-scrollbar-thumb: #777; /* 滚动条 */
        --w-scrollbar-thumb-hover: #999; /* 滚动条hover */

        --w-background: #141414; /* 背景色 table-row 斑马线二级 */
        --w-second-background: #1d1d1d; /* 二级背景色 table-row 斑马线二级 */
        --w-third-background: #333; /* 三级背景色 */
        --w-table-header-background: #111a2c; /* table-header 背景色 */

        --w-foreground: #cecece; /* 字体色 */
        --w-second-foreground: #8c8c8c; /* 二要字体色 */

        --w-primary: #1677ff; /* 主题色 */
        --w-primary-foreground: #fff; /* 主题色背景字体色 */

        --w-border: #424242; /* 边框色 */
        --w-border-radius: 2px; /* 圆角 */

        --w-error: #f5222d;
        --w-warning: #faad14;
        --w-success: #52c41a;
        --w-info: #1890ff;
    }

    :root {
        .light-theme();
        line-height: 1.5;
        font-weight: 400;
        font-synthesis: none;
        -webkit-text-size-adjust: 100%;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
            'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    html,
    body,
    #root {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-size: 14px;
        min-width: 1500px;
        color: var(--w-foreground);
        background-color: var(--w-third-background);
    }

    * {
        outline: none;
        box-sizing: border-box;
    }

    /* 滚动条 */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
        background-color: var(--w-scrollbar-bg);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--w-scrollbar-thumb);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--w-scrollbar-thumb-hover);
    }

    /* 滚动条 */
}
