:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.theme {
    /* 主题色 */
    --m-primary-color: #1677ff; // 主题色
    /* 字体大小 */
    --m-font-size: 14px; // 字体大小
    /* 背景 */
    --m-bg-color: #fff; // 背景色
    --m-bg-hover-color: #eee; // 背景色Hover
    --m-card-bg-color: #fff; // Card模式-块的背景颜色
    --m-card-bg-hover-color: #eee; // Card模式-块的背景颜色Hover
    --m-card-down-bg-color: #f3f4f5; // Card模式-底层背景色
    /* 字体颜色 */
    --m-font-color: #262626; // 字体颜色
    --m-notice-font-color: #999; // 字体提示颜色
    --m-primary-font-color: #fff; //字体颜色（主题色背景）
    /* 阴影 */
    --m-float-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15); // 悬浮框阴影
    --m-primary-float-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5); // 悬浮框阴影（主题色背景）
    --m-head-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); // 头部阴影/底部阴影
    --m-primary-head-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5); // 头部阴影/底部阴影（主题色背景）
    /* 边框 */
    --m-border-color: #eee; // 边框色
    --m-card-border-color: #e0e0e0; // Card模式-边框色
}

html,
body,
#root {
    .theme();

    background-color: var(--m-bg-color);
    font-size: var(--m-font-size);
    color: var(--m-font-color);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
