:root {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    font-weight: 400;
}

:global {
    html,
    body,
    #root {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    * {
        outline: none;
        font-size: 14px;
        box-sizing: border-box;
    }
}
