.fixed-left {
    left: 0;
    z-index: 2;
    position: sticky !important;

    &.shadow::after {
        top: 0;
        width: 0;
        z-index: 1;
        left: 100%;
        content: '';
        height: 100%;
        position: absolute;
        transition: box-shadow 0.3s;
    }

    &.pinged.shadow::after {
        width: 30px;
        box-shadow: inset 10px 0 8px -8px var(--table-ping-shadow);
    }
}

.fixed-right {
    right: 0;
    z-index: 2;
    position: sticky !important;

    &.shadow::after {
        top: 0;
        width: 0;
        z-index: 1;
        right: 100%;
        content: '';
        height: 100%;
        position: absolute;
        transition: box-shadow 0.3s;
    }

    &.pinged.shadow::after {
        width: 30px;
        box-shadow: inset -10px 0 8px -8px var(--table-ping-shadow);
    }
}

.light {
    --table-bg: #fff;
    --table-border: #d9d9d9;
    --table-head-bg: #f6f8fa;
    --table-border-radius: 2px;
    --table-active-color: #1677ff;
    --table-row-hover-bg: #e6f4ff;
    --table-foreground-color: #262626;
    --table-placeholder-color: #d1d1d1;
    --table-head-hover: rgba(0, 0, 0, 0.05);
    --table-resize-active: rgba(0, 0, 0, 0.15);
    --table-ping-shadow: rgba(17, 17, 17, 0.13);

    --table-scrollbar-width: 10px;
    --table-scrollbar-bg: rgba(0, 0, 0, 0.05); /* 滚动条背景 */
    --table-scrollbar-thumb: rgba(0, 0, 0, 0.15); /* 滚动条 */
    --table-scrollbar-thumb-hover: rgba(0, 0, 0, 0.25); /* 滚动条hover */
}

.dark {
    --table-bg: #13232e;
    --table-border: #2b3943;
    --table-head-bg: #1c2c36;
    --table-border-radius: 2px;
    --table-active-color: #1677ff;
    --table-row-hover-bg: #193955;
    --table-foreground-color: #d6d6d6;
    --table-placeholder-color: #d1d1d1;
    --table-head-hover: rgba(255, 255, 255, 0.1);
    --table-resize-active: rgba(255, 255, 255, 0.3);
    --table-ping-shadow: rgba(255, 255, 255, 0.3);

    --table-scrollbar-width: 10px;
    --table-scrollbar-bg: rgba(255, 255, 255, 0.1); /* 滚动条背景 */
    --table-scrollbar-thumb: rgba(255, 255, 255, 0.2); /* 滚动条 */
    --table-scrollbar-thumb-hover: rgba(255, 255, 255, 0.3); /* 滚动条hover */
}

.table {
    .light();
    width: 100%;
    display: flex;
    max-height: 100%;
    position: relative;
    flex-direction: column;
    background-color: var(--table-bg);
    color: var(--table-foreground-color);
    border-radius: var(--table-border-radius);

    * {
        box-sizing: border-box;
    }

    /* 滚动条 */
    ::-webkit-scrollbar {
        width: var(--table-scrollbar-width);
        height: var(--table-scrollbar-width);
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
        background-color: var(--table-scrollbar-bg);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--table-scrollbar-thumb);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--table-scrollbar-thumb-hover);
    }
    /* 滚动条 */

    .body {
        min-height: 0;
        display: flex;
    }
}
