.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .info {
        padding: 12px;
        border-bottom: 1px solid var(--m-border-color);

        .title {
            font-weight: 600;
            font-size: 16px;
            display: flex;
            align-items: center;

            .text {
                width: 1px;
                flex-grow: 1;
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
            }

            .icon {
                transform-origin: 50% 50%;
                transition: transform 0.3s;

                &.show {
                    transform: rotate(180deg);
                }
            }
        }

        .key {
            width: 72px;
        }

        .value {
            width: calc(50% - 72px);
        }

        .key2 {
            width: 42px;
        }
    }

    .detail {
        height: 1px;
        flex-grow: 1;
        overflow: hidden;
    }
}
