.body-cell-placeholder {
	outline: none;
	position: relative;
	box-sizing: border-box;
	border-top: var(--table-cell-border-width) solid var(--table-cell-border-color);

	&.first-row {
		border-top-width: 0;
	}

	&.bordered {
		border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);

		&.first-col {
			border-left-width: 0;
		}
	}
}
