.body-cell-placeholder {
	outline: none;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	background-color: var(--table-body-cell-bg);
	border-top: var(--table-cell-border-width) solid var(--table-cell-border-color);

	&.first-row {
		border-top-width: 0;
	}

	&.bordered {
		&.bordered::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: border-color 0.2s;
			border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);
		}

		&.first-col.bordered::after {
			border-left-width: 0;
		}
	}
}
